# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Qt
*.obj
*.moc
ui_*
Makefile*
*.Debug
*.Release

# MSVC
*.pdb
*.ilk
*.exp
*.dll
*.lib
*.exe

# Qt Creator
*.pro.user
# Releases
releases